<%- include('../partials/header') %>

    <h1 class="text-success-emphasis p-3">Alina's Software Developer Skills as of <%= time %></h1>
    <a class="text-success-emphasis p-3" href="/skills/new">Add a skill</a>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <form action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button class="text-danger-emphasis" type="submit">x</button>
          </form>
            <a href="/skills/<%= skill.id %>">
                <%= skill.skill %>
            </a>
          <%= skill.skill %>
            - 
          <%= skill.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
    
    <%- include('../partials/footer') %>