<%- include('../partials/header') %>
    <h3>
        <%= skill.skill %>
    </h3>

    <h3>
        Complete: <%= skill.done ? 'yes' : 'no' %>
    </h3>
    <a href="/skills/<%= skill.id %>/edit">Edit skills</a>

<%- include('../partials/footer') %>
